html {
    scroll-behavior: smooth;
    position: relative;
  }
  
  a {
    color: inherit;
    font-weight: bold;
  }
  
  #cameron, #portfolio, #contactMe {
    min-height: 100vh;
  }

  .bg-light{
    background-image: url("/img/ignasi_pattern_s.png"); }